@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.banner-gradient {
  @apply bg-gradient-to-t from-slate-900 to-slate-800;
}

.bg-gradient {
  @apply bg-gradient-to-t from-slate-800 to-slate-700;
}
.bg-gradient2 {
  @apply bg-gradient-to-t from-slate-700 to-slate-600;
}

body {
  @apply bg-gradient-to-t from-slate-950 to-slate-900 text-white;
}

::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  border-radius: 9999px ;
}

::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 9999px;
}
